<h1>Here you can find detailed information for <%= @drug.name %></h1>
<h3>Name: <%= @drug.name %></h3>
<h3>Dosage: <%= @drug.dosage %></h3>

<h3>Return to <a href="/drugs">main</a> page</h3>
<p><a href="/drugs/<%= @drug.id%>/edit">Edit </a><%= @drug.name%></p>