<h1>Below is the data for <%= @patient.name %></h1>
<ul>
<li>Patient name: <%= @patient.name %></li>
<li>Gender: <%= @patient.gender %></li>
<li>Age: <%= @patient.age %></li>
<li>Doctor's name: <%= @patient.user.first_name %> <%= @patient.user.last_name %></li>
<%# while drugs belong_to patient, @patient has drugs array %>
<li>Condition: <%= @patient.condition %></li>
<%# <li>Main symptoms: <i><%= @patient.disease.symptoms %>
<% @patient.drugs.each do |drug| %>
<li>Medicine(s) taken: <strong><%= drug.name %> <%= drug.dosage %></strong></li>
<% end %>
</ul>

<p>Return to <a href="/patients">all patients</a></p>
<% if current_user == @patient.user %>
<p><a href="/patients/<%= @patient.id %>/edit">Edit</a> patient <%= @patient.name %></p>
<% end %>
